# Time

In [1]:
import pandas as pd

## Database connection

In [2]:
import yaml
from sqlalchemy import create_engine


with open("../config.yml", "r") as file:
	config = yaml.safe_load(file)
	config_OLTP = config["OLTP"]
	config_OLAP = config["OLAP"]


url_OLTP = (f"{config_OLTP['drivername']}://{config_OLTP['user']}:{config_OLTP['password']}"
			f"@{config_OLTP['host']}:{config_OLTP['port']}/{config_OLTP['database_name']}")

url_OLAP = (f"{config_OLAP['drivername']}://{config_OLAP['user']}:{config_OLAP['password']}"
			f"@{config_OLAP['host']}:{config_OLAP['port']}/{config_OLAP['database_name']}")

OLTP_connection = create_engine(url_OLTP)
OLAP_connection = create_engine(url_OLAP)

## Extraction and transformation

In [3]:
date_dimension = pd.DataFrame({
	"date": pd.date_range(start="18/9/2023", end="1/9/2024")
})

date_dimension.head()

        date
0 2023-09-18
1 2023-09-19
2 2023-09-20
3 2023-09-21
4 2023-09-22

In [4]:
date_dimension["year"] = date_dimension["date"].dt.year
date_dimension["month"] = date_dimension["date"].dt.month
date_dimension["day"] = date_dimension["date"].dt.day
date_dimension["day_of_year"] = date_dimension["date"].dt.day_of_year
date_dimension["day_of_month"] = date_dimension["date"].dt.days_in_month
date_dimension["month_str"] = date_dimension["date"].dt.month_name()
date_dimension["day_str"] = date_dimension["date"].dt.day_name()

date_dimension.head()

,date,year,month,day,day_of_year,day_of_month,month_str,day_str
0,2023-09-18,2023,9,18,261,30,September,Monday
1,2023-09-19,2023,9,19,262,30,September,Tuesday
2,2023-09-20,2023,9,20,263,30,September,Wednesday
3,2023-09-21,2023,9,21,264,30,September,Thursday
4,2023-09-22,2023,9,22,265,30,September,Friday

## Load

In [5]:
date_dimension.to_sql("DATE_DIMENSION", OLAP_connection, if_exists="replace", index_label="key_date_dimension")

114